@model WebApplication4.Models.ContactInfo

<form asp-action="AddContact" method="post">

    <div class="mb-3">
        <label>First Name</label>
        <input asp-for="FirstName" class="form-control" />
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label>Last Name</label>
        <input asp-for="LastName" class="form-control" />
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label>Company</label>
        <input asp-for="CompanyName" class="form-control" />
        <span asp-validation-for="CompanyName" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label>Email</label>
        <input asp-for="EmailId" class="form-control" />
        <span asp-validation-for="EmailId" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label>Mobile</label>
        <input asp-for="MobileNo" class="form-control" />
        <span asp-validation-for="MobileNo" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label>Designation</label>
        <input asp-for="Designation" class="form-control" />
        <span asp-validation-for="Designation" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-success">Save</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}